.article {
    @media print {
        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #222 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }

    pre,
    code {
        font-family: Menlo, Monaco, "Courier New", monospace;
    }

    pre {
        padding: .5rem;
        line-height: 1.25;
        overflow-x: scroll;
    }

    a {
        color: $accent2;
    }

    o-decoration {
        text-decoration: none;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1.3rem;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 1.414rem 0 .5rem;
        font-weight: inherit;
        line-height: 1.42;
    }

    h1 {
        margin-top: 0;
    }

    h1,
    h2,
    h3 {
        border-bottom: 2px solid $accent;
        margin-bottom: 1.15rem;
        padding-bottom: .5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: inline-block;
        font-weight: 600;
        letter-spacing: 0.125em;
        text-transform: uppercase;
    }

    small {
        font-size: .707em;
    }

    img,
    canvas,
    iframe,
    video,
    svg,
    select,
    textarea {
        max-width: 100%;
    }


    blockquote {
        border-left: 8px solid #fafafa;
        padding: 1rem;
    }

    pre,
    code {
        background-color: #fafafa;
    }
}
