
.btn, a.btn {
    appearance: none;
    background: $accent1;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    color: $white !important;
    fill: $white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.125em;
    line-height: 2.1em;
    margin: 1.5em 1em 1.5em 0;
    opacity: 1 !important;
    outline: none !important;
    padding: 0.25em 0.9em;
    text-align: left !important;
    text-transform: uppercase;
    text-shadow: none !important;
    transform: translateY(0);
    transition: all 170ms ease-in-out;
    &.-full {
        width: 100%;
    }

    &.-icon {
        padding: 0;

        .fa {
            margin: 0;
            width: 2.1em;
            text-align: center;
        }
    }

    .fa, svg {
        float: left;
        margin-right: 0.8em;
        line-height: 2.1em;
        text-shadow: none !important;
    }

    @media only screen and (max-width: $xsmall) {
        min-width: 40%;

        &.-icon {
            min-width: auto;
        }
    }

    svg {
        height: 2.1em;
        max-width: 16px;
    }

    &:focus {
        outline: 2px solid $accent1;
    }

    &:hover {
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        transform: translateY(-2px);
        filter: brightness(1.1);
    }

    &:active {
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        transform: translateY(1px);
        filter: brightness(0.9);
    }

    &.-accent2 {
        background: $blue;

        &.-white {
            color: $blue !important;
            fill: $blue !important;
            outline: 2px solid $blue;
        }
    }

    &.-white {
        background: $true-white !important;
        color: $blue !important;
        fill: $blue !important;
        outline: 2px solid $accent1;
    }
}

.subtle-btns {
    background: $true-white;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $gray1;
    margin-bottom: 0.75em;
    overflow: hidden;
}

.btn-subtle {
    color: $gray2;
    fill: $gray2;
    box-shadow: 0 1px 0 0 $gray1;
    display: inline-block;
    font-size: 80%;
    letter-spacing: 0.125em;
    line-height: 2.2em;
    padding: 0.05em 0.5em 0;
    text-transform: uppercase;
    width: 100%;
    float: left;

    &:hover {
        color: $gray4;
        fill: $gray4;
    }

    &:active {
        color: $gray6;
        fill: $gray6;
    }

    .fa, svg {
        float: left;
        line-height: 2.2em;
        margin-right: 0.5em;
        max-width: 16px;
    }

    svg {
        height: 2.2em;
    }
}
