
.btn, a.btn {
    appearance: none;
    background: $accent;
    border-bottom-width: 2px;
    border-radius: 4px;
    border: none;
    color: $white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    opacity: 1 !important;
    outline: none !important;
    padding: 0 17px !important;
    text-align: left !important;
    text-transform: uppercase;
    transition: background-color 170ms ease-in-out;

    &.-full {
        width: 100%;
    }

    .fa, svg {
        float: right;
        margin-left: 14px;
        line-height: 45px;
    }

    @media only screen and (max-width: $xsmall) {
        display: block;
        margin: inherit auto;
        width: 80%;
    }

    svg {
        max-height: 16px;
        max-width: 14px;
    }

    &:focus {
        box-shadow: 0 0 0 3px rgba($accent, .4);
    }

    &:active {
        box-shadow: none;
        background: darken($accent, 4%);
    }
}
