.contact-info {
    @extend %clearfix;
    display: block;
    padding: 0.5em 0;
    font-weight: 600;

    .key {
        width: 5em;
        float: left;
        text-align: right;
    }

    .value {
        width: calc(100% - 5em);
        padding-left: 2em;
        float: left;
    }
}
