.contact {
    input, textarea {
        background: rgba($black, .07);
        border-radius: 4px;
        border: none;
        float: left;
        line-height: 3em;
        margin-bottom: 1em;
        padding: 0 1em;
        transition: background-color 100ms ease-in-out;
        width: calc(50% - 0.5em);

        &:focus {
            background: rgba($black, .12);
        }
    }

    h5.title {
        margin: 0 0 1em;
    }

    .btn {
        float: right;
    }


    input:first-child {
        margin-right: 1em;
    }

    textarea {
        width: 100%;
    }

    .success {
        color: $green;
        text-transform: uppercase;
        margin-bottom: 2em;

        .fa {
            position: relative;
            top: 0.1em;
            margin-right: 0.5em;
            font-size: 2em
        }
    }
}
