.cv {

    header {
        margin-bottom: 2em;

        .title {
            font-size: 2em;
            margin-bottom: 0;
        }
    }

    .title {
        margin: 0;
        margin-bottom: 0;
    }

    ul {
        padding: 1em 0;
    }

    li {
        line-height: 1.4;
        display: block;
    }

    img {
        float: right;
        border-radius: 50%;
        width: 30em;
        max-width: 100%;
    }

    a {
        font-weight: bold;
    }

    .cv__part {
        @extend %clearfix;
        background: rgba($gray0, .25);
        border-radius: 4px;
        clear: both;
        line-height: 1;
        margin-bottom: 0.5em;
        padding: 1em;

        p {
            color: lighten($text, 10%);
            float: left;
            letter-spacing: 1px;
            line-height: 1.4;
            margin: 0;
            padding-right: 1em;
            text-indent: 1em;
            width: 50%;
        }

        .subtitle {
        }

        h5 {
            margin-bottom: 0.3em;
        }

        .date {
            font-size: 80%;
            opacity: 0.5;
            padding-left: 1em;
        }

        @media only screen and (max-width: $normal) {
            p {
                width: 100%;
                padding: 0;
            }

            .date {
                display: block;
                padding-left: 0em;
            }
        }
    }

    ul {
        padding: 0;
    }
}
