.cv-item {
    @extend %clearfix;
    padding: 1em 0;

    h4 {
        margin-bottom: 1em;
    }

    .date {
        float: left;
        height: 100%;
        padding-right: 1em;
        text-align: right;
        width: 4.5em;

        .start {
            color: $accent;
        }

        .duration {
            color: $accent2;
        }
    }

    .content {
        width: calc(100% - 4.5em);
        float: left;
        padding-left: 1em;
        border-left: 2px solid $gray0;

        .title {
            float: left;
            margin: 0 0 1em;
        }

        p {
            display: inline-block;
        }
    }
}
