.flash {
    float: left;

    &.-success {
        color: $green;
    }

    &.-notice {
        color: $accent1;
    }

    &.-warn {
        color: $orange;
    }

    &.-error {
        color: $red;
    }
}
