footer {
    background: rgba($gray0, 0.25);
    border-top: 1px solid $gray0;
    color: $text;
    padding: 4em 1.5em 5em;
    position: relative;

    .row {
        position: relative;
        z-index: 1;
    }

    a {
        display: block;
        color: $gray2;
        padding: 0.3em 0;
        font-weight: 600;

        &:hover {
            color: $gray5;
        }
    }

    p {
        margin: 0.25em 0;
    }

    .title {
        color: $gray2;
        font-size: 1em;
        font-style: normal;
        letter-spacing: 0.25em;
        margin-bottom: 0.5em;
    }

    svg {
        border-radius: 4px;
        float: left;
        height: 1.4em;
        line-height: 2em;
        position: relative;
        width: 1.87em;
    }

    .locale {
        border-radius: 4px;
        display: inline-block;
        padding: 0.4em;
        width: 100%;

        &.current {
            color: $gray5;
            background: rgba($black, .1);
        }

        span {
            float: left;
            padding-left: 0.5em;
        }
    }
}
