header.nav {
    @extend %clearfix;

    position: sticky;
    background: $white;
    border-bottom: 3px solid $gray0;
    border-image: linear-gradient(90deg, $accent, $accent2) 1;
    top: 0; right: 0; left: 0;
    line-height: 72px;
    height: 72px;
    transform: translate3d(0, 0, 0); // Fix flicker with links hover
    z-index: 10;

    .row {
        text-align: center;
    }

    li:nth-child(1) {
        float: left;
        height: 73px;
    }

    $link-number: 6;
    @for $i from 1 to $link-number + 1 {
        li:nth-child(#{$i}) a {
            color: mix($accent2, $accent, (100% / ($link-number -  1)) * ($i - 1));
        }
    }

    li:last-child {
        float: right;
    }

    li a {
        display: inline-block;
        letter-spacing: 1px;
        padding: 0 20px;
        text-transform: uppercase;

        &:hover {
            color: $gray3;
        }
    }

    .image, h1 {
        float: left;
    }

    .image {
        border: 2px solid $accent;
        margin: 9px 0;
    }

    h1 {
        display: inline-block;
        font-size: 1em;
        line-height: 73px;
        margin-left: 10px;
    }
}
