header.nav {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 0.15em solid $gray0;
    border-image: linear-gradient(90deg, $accent, $accent2) 30;
    background: $white;
    line-height: 4em;

    .row {
        text-align: center;
    }

    a {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 15px;
        display: inline-block;
    }

    $link-number: 4;
    @for $i from 1 to $link-number + 1 {
        li:nth-child(#{$i}) a {
            color: mix($accent2, $accent, (100% / ($link-number -  1)) * ($i - 1));
        }
    }

    li a:hover {
        color: $pink;
    }

    .fa {
        margin-right: 10px;
    }
}
