header.nav {
    @extend %clearfix;

    background: $white;
    line-height: 4em;
    height: 4em;
    transform: translate3d(0, 0, 0); // Fix flicker with links hover
    z-index: 100;

    #display-menu {
        color: $accent2;
        display: none;
        float: right;
        font-size: 130%;
        padding: 0 1.1em;
    }

    #logo {
        float: left;
        height: 4em;
    }

    #menu-toggle {
        display: none;
        @media only screen and (max-width: $small) {
            & + ul {
                display: block;
            }

            &:checked {
                & + ul {
                    display: none;
                }
            }
        }
    }

    ul {
        display: inline-block;
        float: right;

        .fa {
            display: none;
            margin-right: 0.5em;
        }

        li:last-child .fa {
            display: inline-block;
        }
    }

    @media only screen and (max-width: $small) {
        #logo {
            float: right;

            .image {
                float: right;
            }
        }

        #display-menu {
            float: left;
            display: inline-block;
        }

        ul {
            float: left;
            position: absolute;
            top: 100%;
            width: 100%;
            background: $white;
            border-bottom: 3px solid $gray0;
            box-shadow: 0 6px 12px -5px rgba($black, 0.08);
            line-height: 2.5em;

            li, li a {
                display: block;
            }

            li {
                border-top: 1px solid $gray0;
            }

            li:last-child {
                display: none;
            }

            .fa {
                display: inline-block;
            }
        }
    }

    $link-number: 6;
    @for $i from 2 to $link-number + 1 {
        ul li:nth-child(#{$i - 1}) a {
            color: mix($accent2, $accent, (100% / ($link-number -  1)) * ($i - 1));
        }
    }

    li a {
        display: inline-block;
        letter-spacing: 2px;
        padding: 0 20px;
        text-transform: uppercase;
    }

    ul li a:hover {
        color: $gray3;
    }

    a:active {
        background: $gray0;
    }

    .image, h1 {
        float: left;
    }

    .image {
        box-shadow: 0 0 0 0.14em $accent;
        max-width: 3em;
        margin: 0.4em 0;
    }

    h1 {
        display: inline-block;
        font-size: 1em;
        line-height: 4em;
        margin: 0 0.6em;
    }
}
