.image {
    @extend %clearfix;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    &.-r {
        float: right;
    }

    &.-round {
        border-radius: 50%;
    }

    &.-rounded {
        border-radius: 4px;
    }

    &.-bordered {
        border-color: $gray0;
        border-style: solid;
        border-width: 1px;
    }

    &.-border-accent {
        border-color: $accent;
    }

    .overlay {
        background: rgba($black, .5);
        color: $white;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0; right: 0; bottom: 0; left: 0;
        transition: opacity 100ms ease-in-out;

        .fa {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            line-height: 4em;
        }
    }

    &:hover {
        .overlay {
            opacity: 1;
        }
    }
}
