.portfolio-item {
    margin-bottom: 0em !important; // override zone.scss

    nav {
        float: right;
        width: 13em;

        @media only screen and (max-width: $small) {
            display: none;
        }

        .btn {
            width: 100%;
            margin: 0.5em 0;
        }
    }

    .badges {
        @extend %clearfix;

        a {
            display: inline-block;
            float: left;
            @extend %clearfix;
            width: calc(50% - 0.5em);
        }

        img {
            width: 100%;
        }

        a:nth-child(even) {
            margin-left: 1em;
        }
    }
}
