.portfolio-container {
    margin: 1em 0 2em;

    header {
        @extend %clearfix;
        background-color: $white;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
        margin-bottom: 2em;
        overflow: hidden;

        .title {
            color: $white;
            line-height: 1em;
            margin: 0 0 1em;
        }

        .content {
            color: $white;
            float: left;
            line-height: 1.5;
            padding: 2em;
            position: relative;
            width: 30em;
            z-index: 1;

            &::after, &::before {
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }

            svg {
                background-size: 100% 100%;
                bottom: 0;
                height: 100%;
                left: auto;
                position: absolute;
                left: 99.9%;
                top: 0;
                width: 5em;
            }

            @media only screen and (min-width: $small) {
                #horizontal {
                    display: none;
                }
            }
        }

        @media only screen and (max-width: $small) {
            .content {
                margin-top: 15em;
                width: 100%;

                svg {
                    height: 5em;
                    left: 0;
                    top: initial;
                    bottom: 100%;
                    width: 100%;
                }

                #vertical {
                    display: none;
                }
            }
        }

        &.vertical {
            .content {
                margin-top: 15em;
                width: 100%;

                svg {
                    height: 5em;
                    left: 0;
                    top: initial;
                    bottom: 100%;
                    width: 100%;
                }

                #horizontal {
                    display: inline-block;
                }

                #vertical {
                    display: none;
                }
            }
        }

        .btn {
            margin: 2em 0 0;
        }
    }

    nav {
        float: right;
        margin-bottom: 2em;
        width: 14em;

        .btn {
            margin: 0.5em 0;
            width: 100%;
        }

        p {
            font-size: small;
            text-align: center;
        }

        & > div {
            margin-bottom: 2em;
        }
    }

    .texts {
        float: right;
        padding: 0 1em;
        width: calc(100% - 14em);

        p {
            text-indent: 1em;
        }
    }

    .badges {
        @extend %clearfix;
        text-align: center;

        a {
            display: inline-block;
            margin: 1em 0.5em;
        }

        img {
            float: none;
        }
    }

    @media only screen and (max-width: $small) {
        nav {
            width: 100%;
            text-align: center;

            .btn {
                width: auto;
            }
        }

        .texts {
            padding: 0;
            width: 100%;
        }

    }

    #portfolio-1 {
        $color2: $blue;
        $color1: $cyan;
        $opacity1: 0.5;
        $opacity2: 0.8;
        background-image: url("portfolio_1.jpg");

        .content {
            &::before {
                background: rgba($color1, $opacity1);
            }

            &::after {
                background: rgba($color2, $opacity2);
            }
        }

        svg {
            #poly-1 {
                fill: $color1;
                fill-opacity: $opacity1;
            }

            #poly-2 {
                fill: $color2;
                fill-opacity: $opacity2;
            }
        }
    }

    #portfolio-2 {
        $color1: $purple;
        $color2: $cyan;
        $opacity1: 0.8;
        $opacity2: 0.7;

        background-image: url("portfolio_2.jpg");

        .content {
            &::before {
                background: rgba($color1, $opacity1);
            }

            &::after {
                background: rgba($color2, $opacity2);
            }
        }

        svg {
            #poly-1 {
                fill: $color1;
                fill-opacity: $opacity1;
            }

            #poly-2 {
                fill: $color2;
                fill-opacity: $opacity2;
            }
        }
    }

    #portfolio-3 {
        $color1: $orange;
        $color2: $pink;
        $opacity1: 0.6;
        $opacity2: 0.5;

        background-image: url("portfolio_3.jpg");

        .content {
            &::before {
                background: rgba($color1, $opacity1);
            }

            &::after {
                background: rgba($color2, $opacity2);
            }
        }

        svg {
            #poly-1 {
                fill: $color1;
                fill-opacity: $opacity1;
            }

            #poly-2 {
                fill: $color2;
                fill-opacity: $opacity2;
            }
        }
    }

    #portfolio-4 {
        $color1: #00a47e;
        $color2: #FFB300;
        $opacity1: 0.4;
        $opacity2: 0.8;

        background-image: url("portfolio_4.jpg");

        .content {
            &::before {
                background: rgba($color1, $opacity1);
            }

            &::after {
                background: rgba($color2, $opacity2);
            }
        }

        svg {
            height: 7em;

            #poly-1 {
                fill: $color1;
                fill-opacity: $opacity1;
            }

            #poly-2 {
                fill: $color2;
                fill-opacity: $opacity2;
            }
        }
    }
}
