#splash {
    color: $white;
    height: auto;
    padding-bottom: 3em;
    position: relative;

    .row {
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}
