.tag {
    @extend %clearfix;
    line-height: 2em;
    font-weight: 600;
    margin: 0.5em 0;

    .key .fa {
        height: 2em;
        line-height: 2em;
        text-align: center;
        width: 1em;
        float: left;
        margin-right: 1em;
    }

    .key, .value {
        float: left;
        padding-right: 1em;
    }

    .key {
        fill: $text;
        width: 10em;
        padding-right: 1em;
    }

    .value {
        width: calc(100% - 10em);
    }
}
