.tag {
    @extend %clearfix;
    line-height: 2em;
    font-weight: 600;
    margin-bottom: 1em;

    .key .fa {
        float: right;
        height: 2em;
        line-height: 2em;
        text-align: center;
        width: 1em;
        margin-left: 1em;
    }

    .key, .value {
        float: left;
        padding-right: 1em;
    }

    .key {
        fill: $text;
        text-align: right;
        width: 10em;
        padding-right: 1em;
    }

    .value {
        width: calc(100% - 10em);
    }
}
