.technologie {
    display: inline-block;
    background: rgba($accent1, .22);
    color: $accent1; fill: $accent1;
    font-weight: 600;
    padding-right: 0.25em;

    .fa {
        text-align: center;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding: 0.3em;
        margin-right: 0.2em;
    }

    span, .fa {
        float: left;
    }
}
