.techno {
    background: rgba($gray0, .4);
    border-radius: 4px;
    display: inline-block;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 0.3em 0.3em 0 0;
    padding: 0 0.5em;
    float: left;
}
