.title {
    @extend %clearfix;

    clear: both;
    color: $accent1;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin: 1em 0 1.5em;
    position: relative;
    text-transform: uppercase;

    &.-accent2 {
        color: $accent2;
    }

    span {
        line-height: 2.5em;
        text-transform: uppercase;
    }

    &.-icon {
         .fa {
            background: rgba($accent1, .25);
            border-radius: 50%;
            height: 2.5em;
            margin-right: 0.75em;
            padding: 0.75em 0;
            text-align: center;
            width: 2.5em;
        }
    }

    &.-tiny {
        width: 100%;
        margin: 0 0 0.5em;
        color: $gray1;
        line-height: 2em;
    }

    &.-center {
        width: 100%;
        text-align: center;

        .fa {
            margin-right: 0;
        }

        span {
            padding: 0.5em;
            display:  block;
        }
    }

    &.-white {
        color: $white;

        .fa {
            background: rgba($white, .25);
            color: $white;
            fill: $white;
        }
    }
}
