.title {
    @extend %clearfix;

    clear: both;
    color: $accent;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin: 1em 0 1.5em;
    position: relative;
    text-transform: uppercase;

    &.-accent2 {
        color: $accent2;
    }

    span {
        line-height: 2.5em;
        text-transform: uppercase;
    }

    &.-icon {
        padding-left: 1.75em;

        & .fa {
            background: rgba($accent, .4);
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: -1.25em;
            height: 2.5em;
            margin-right: 0.75em;
            padding: 0.75em 0;
            text-align: center;
            width: 2.5em;
        }

        @media only screen and (max-width: $small) {
            padding-left: 3em;

            .fa {
                left: 0;
            }
        }
    }

    &.-tiny {
        width: 100%;
        margin: 0 0 0.5em;
        color: $gray1;
        line-height: 2em;
    }
}
