.title {
    @extend %clearfix;

    color: $accent;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: italic;
    position: relative;
    --text-shadow-color: #{rgba($accent, 0.1)};
    margin: 0 0 0.5em;

    &.-accent2 {
        color: $accent2;
    }

    span {
        text-transform: uppercase;
        font-style: italic;
        line-height: 1.9em;
    }

    & > .fa {
        padding: 0.5em 0;
        text-align: center;
        width: 2em;
        height: 2em;
        float: left;
        margin-right: 0.5em;
        background: rgba($accent, .4);
        border-radius: 50%;
    }

    .btn {
        float: right;
        margin: 0.15em;
    }
}
