
.tool {
    position: relative;
    display: inline-block;
    z-index: 10;

    .tip {
        background: $true-white;
        border-radius: 3px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        color: $text;
        font-weight: 600;
        left: calc(50% - 175px);
        line-height: 1.4;
        opacity: 0;
        padding: 10px 7px 12px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: calc(100% + 10px);
        transition: all 170ms linear;
        width: 350px;
        z-index: 10000;

        &::after {
            border-bottom: 10px solid $true-white;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            bottom: calc(100% - 2px);
            content: "";
            left: calc(50% - 10px);
            position: absolute;
        }
    }

    &:hover .tip {
        opacity: 1;
    }
}
