.zone {
    @extend %clearfix;
    background: $true-white;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 1em;
    height: 10em;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;

    &.-icon {
        padding: 1.5em 1em 1.5em 7em;

        * {
            position: relative;
            z-index: 1;
        }

        & > .fa {
            z-index: 0;
            color: $gray0;
            opacity: 0.5;
            left: -20px;
            font-size: 12em;
            position: absolute;
            bottom: -40px;
        }

        @media only screen and (max-width: $small) {
            padding: 1.5em;
        }
    }
}
