<section>
    <div class="row list">
        <% @articles.each do |a| %>
            <%= link_to blog_path(a) do %>
                <h3 class="title">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    <%= fa_icon "arrow-right" %>
                </h3>
                <div class="date">
                    <%= a.created_at.strftime("%e - %m - %Y") %>
                </div>
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            <% end %>
        <% end %>
    </div>
</section>
