/* Browser Styling */
::selection {
    background-color: rgba($accent2, .75) !important;
    color: $white !important;
}

/* Global default custom styles */
html {
    --text-shadow-color: #{rgba($black, 0.1)};

    background: $white;
    box-sizing: border-box;
    color: $gray4;
    font-family: Tahoma, Geneva, sans-serif; // Fallback
    font-family: 'Exo 2', sans-serif;
    font-size: $default-font-size;
    overflow-x: hidden;
    overflow-y: scroll;
    text-shadow: 0 0 1px var(--text-shadow-color) !important;

    @media only screen and (max-width: $xsmall) {
        font-size: $default-font-size * 0.9;
    }

    @media only screen and (min-width: $large) {
        font-size: $default-font-size * 1.15;
        line-height: $default-line-height * 1.2;
    }

    @media only screen and (min-width: $xlarge) {
        font-size: $default-font-size * 1.25;
    }

    @media only screen and (min-width: $xxlarge) {
        font-size: $default-font-size * 1.4;
    }
}

html, body {
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    li {
        display: block;
    }
}

li {
    list-style: none;
    display: inline-block;
}

a {
    color: $accent;
    cursor: pointer;
    text-decoration: none;
    transition: all 100ms linear;
}

label {
    cursor: pointer;
}

textarea {
    min-height: 200px;
    resize: vertical;
}

img {
    max-width: 100%;
    float: left;
}

p {
    margin: 0;
}

.para {
    margin: 15px 0;
}
