<section class="head">
    <div class="row cv" id="printable">
        <h3 class="title -white -icon -center"><%= fa_icon "id-card-o" %><span>Curriculum Vitae</span></h3>
        <div class="zone">
            <div class="col-12">
                <div class="col-6 -sp">
                    <header>
                        <h3 class="title">Sébastien Erfani</h3>
                        <h5 class="subtitle">Intégrateur Web</h5>
                    </header>
                    <li>Étudiant en 3ème année</li>
                    <li>Permis B</li>
                    <li>20 ans</li>
                </div>
                <div class="col-6 -sp align -right address">
                    <strong>Adresse:</strong>
                    <li>22 Route du Rhin</li>
                    <li>Illkirch-Graffenstaden</li>
                    <li>67400, France</li>
                    <br/>
                    <strong>Contact:</strong>
                    <li>sebastien.erfani@gmail.com</li>
                    <li>07 86 60 03 39</li>
                    <li><a href="http://erfani.fr">http://erfani.fr</a></li>
                </div>
            </div>
            <div class="col-12">
                <h3 class="title">éxperience</h3>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Stages à Bed & Dreams</h5>
                        <div class="date">
                            Septembre 2017 - temps plein - 2 mois | temps partiel - 3 mois
                        </div>
                        <p>
                            Réalisation d'un site d'e-commerce de A à Z avec un autre stagiaire en utilisant Ruby On Rails.
                            Création d'un framework CSS et élaboration d'une interface utilisateur (UI) en respectant l'image de l'entreprise et en optimisant l'user experience (UX).
                            Développement de différents modules, notament les comptes clients, la génération des factures, l'API pour l'ERP de l'entreprise, le choix du type de livraison, etc.
                            Respect des lois Française sur les cookies, mentions légales et début de l'implémentation de la loi européene RGPD.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Stage à Epopia</h5>
                        <div class="date">
                            Juillet 2016 - temps plein - 4 mois
                        </div>
                        <p>
                            Stage dans une équipe de développement et apprentissage du framework web Ruby On Rails, de GIT, de la méthode AJAX, etc.
                            Utilisation d'un système de tickets (Redmine puis Gitlab), utilisation avancée du système d'opération Linux (Debian).
                            Développement de plusieurs fonctions pour le site internet et l'erp d'Epopia: formulaire d'inscription, système avancé de FAQ, landing page, interfaces d'administration, etc.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Expérience personnelle</h5>
                        <p>
                            Participation à plusieurs événements sur de l'informatique: Startup Weekend Strasbourg 2016: Prix Scalingo, Nuit de l'Info, Global Game Jam 2016 et 2017, etc.
                            Création de différents projets de ma propre initiative dont certains sont disponible en open source sur <a href="https://github.com/eternialz" target="_blank">github</a>.
                            Approfondissement de différentes technologies en dehors des stages ou périodes scholaire comme WordPress, PHP, HTML, CSS, etc.
                            Utilisation de divers logiciels graphique de la suite Adobe et autres.
                        </p>
                    </div>
                </div>
                <div class="col-12 -sp -wp-top">
                </div>
            </div>
            <div class="col-12">
                <h3 class="title">éducation</h3>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Étude supérieure d'informatiques à SUPINFO International University</h5>
                        <div class="date">
                            <p>De 2015 à maintenant - 3 ans</p>
                        </div>
                        <p>
                            Étude d'infomatique générale: développement, réseaux, administration, loi, management, etc.
                            Réalisation de plusieurs projets seul ou en équipe. Certains de ces projets sont disponible sur <a href="https://github.com/eternialz" target="_blank">github</a>.
                            Participations aux différents événement de l'école: job forum, portes ouvertes, présentation dans un lycée, afterwork.
                            Rédaction d'articles publié sur le site de l'école et soutient dans le cadre d'une matière sur le partage de connaissances.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Lycée technique</h5>
                        <div class="date">
                            Avant 2015
                        </div>
                        <p>
                            Bac S SI avec option informatique et science du numérique, mention TB; apprentissage des bases de l'infotmatique (algorithmie, python et binaire/hexadécimal).
                            Réalisation de différents site web en utilisant WordPress.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h3 class="title">Compétences</h3>
                <div class="clearfix">
                    <div class="col-3">
                        <h5 class="subtitle">Développement Web</h5>
                        <ul>
                            <li>&rsaquo; HTML5 & CSS3</li>
                            <li>&rsaquo; Responsive Design</li>
                            <li>&rsaquo; JavaScript & JQuery</li>
                            <li>&rsaquo; Ruby on Rails</li>
                            <li>&rsaquo; Optimisation</li>
                            <li>&rsaquo; PHP</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle">Bases de Données</h5>
                        <ul>
                            <li>&rsaquo; SQL / PLQSL</li>
                            <li>&rsaquo; PostgreSQL</li>
                            <li>&rsaquo; MySQL / MariaDB</li>
                            <li>&rsaquo; MongoDB</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle">Autres</h5>
                        <ul>
                            <li>&rsaquo; SEO</li>
                            <li>&rsaquo; Wordpress</li>
                            <li>&rsaquo; User Experience & Interface</li>
                            <li>&rsaquo; Photoshop</li>
                            <li>&rsaquo; Linux</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle">Langues</h5>
                        <ul>
                            <strong>Anglais :</strong>
                            <li>&rsaquo; Écrit, lu et parlé</li>
                            <br/>
                            <strong>Français :</strong>
                            <li>&rsaquo; Langue maternelle</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 interests">
                <h3 class="title">Centres D'intérêts</h3>
                <div>
                    <span>Technologies</span>
                    <span>Innovations Web</span>
                    <span>Open Source</span>
                    <span>Culture Asiatique</span>
                    <span>Lecture</span>
                    <span>Manga/Novels</span>
                    <span>Musique</span>
                </div>
            </div>
        </div>
        <div class="align -center">
            <a class="btn -white" href=""><%= fa_icon "download" %>Télécharger</a>
            <a class="btn -white" href=""><%= fa_icon "print" %>Imprimer</a>
        </div>
    </div>
</section>
