<section id="cv" class="head">
    <div class="row cv" id="printable">
        <h3 class="title -white -icon -center"><%= fa_icon "id-card-o" %><span>Curriculum Vitae</span></h3>
        <div class="zone">
            <div class="col-12">
                <header>
                    <h3 class="title">Sébastien Erfani</h3>
                    <h5 class="subtitle">Intégrateur Web</h5>
                </header>
                <div class="col-4 -sp">
                    <li>Étudiant en 3ème année</li>
                    <li>Permis B</li>
                    <li>20 ans</li>
                </div>
                <div class="col-4 -sp">
                    <li>22 Route du Rhin</li>
                    <li>Illkirch-Graffenstaden</li>
                    <li>67400 France</li>
                </div>
                <div class="col-4 -sp">
                    <li>sebastien.erfani@gmail.com</li>
                    <li>07 86 60 03 39</li>
                    <li><a href="http://erfani.fr">http://erfani.fr</a></li>
                </div>
            </div>
            <div class="col-12">
                <h4 class="title">expérience</h4>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Stages à Bed & Dreams<span class="date"> Septembre 2017 - temps plein - 2 mois | temps partiel - 3 mois</h5>
                        <p>
                            Réalisation d'un site d'e-commerce de A à Z avec un autre stagiaire en utilisant Ruby On Rails.
                            Développement de différents modules, notamment les comptes clients, la génération des factures, l'API pour l'ERP de l'entreprise, le choix du type de livraison.
                        </p>
                        <p>
                            Création d'un framework CSS et élaboration d'une interface utilisateur (UI) en respectant l'image de l'entreprise et en optimisant l'user experience (UX).
                            Respect des lois françaises sur les cookies, mentions légales et début de l'implémentation de la loi européenne RGPD.
                        </p>
                    </div>
                </div>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Stage à Epopia<span class="date"> Juillet 2016 - temps plein - 4 mois</span></h5>
                        <p>
                            Stage dans une équipe de développement et apprentissage du framework web Ruby On Rails, de GIT, de la méthode AJAX.
                            Utilisation d'un système de tickets (Redmine puis Gitlab), utilisation avancée du système d'opération Linux (Debian).
                        </p>
                        <p>
                            Développement de plusieurs fonctions pour le site internet et l'erp d'Epopia : formulaire d'inscription, système avancé de FAQ, landing page, interfaces d'administration.
                        </p>
                    </div>
                </div>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Expérience personnelle</h5>
                        <p>
                            Participation à plusieurs événements sur l'informatique: Startup Weekend Strasbourg 2016 : Prix Scalingo, Nuit de l'Info, Global Game Jam 2016 et 2017.
                            Création de différents projets de ma propre initiative dont certains sont disponibles en open source sur <a href="https://github.com/eternialz" target="_blank">GitHub</a>.
                        </p>
                        <p>
                            Approfondissement de différentes technologies en dehors des stages ou périodes scolaires comme WordPress, PHP, HTML, CSS, etc.
                            Utilisation de divers logiciels graphiques de la suite Adobe.
                        </p>
                    </div>
                </div>
                <div class="col-12 -sp -wp-top">
                </div>
            </div>
            <div class="col-12">
                <h4 class="title">études</h4>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Études supérieures d'informatique à Supinfo<span class="date"> De 2015 à maintenant - 3 ans</span></h5>
                        <div class="date">

                        </div>
                        <p>
                            Études d'informatique générale : développement, réseaux, administration, loi, management.
                            Participations aux différents événements de l'école : job forum, portes ouvertes, présentation dans un lycée, afterwork.
                        </p>
                        <p>
                            Réalisation de plusieurs projets seul ou en équipe. Certains de ces projets sont disponibles sur <a href="https://github.com/eternialz" target="_blank">GitHub</a>.
                            Rédaction d'articles publiés sur le site de l'école et soutien dans le cadre d'une matière sur le partage de connaissances.
                        </p>
                    </div>
                </div>
                <div class="cv__part">
                    <div class="content">
                        <h5 class="subtitle">Lycée technique<span class="date"> Avant 2015</span></h5>
                        <p>
                            Bac S SI avec option informatique et sciences du numérique, mention TB; apprentissage des bases de l'informatique (algorithmie, python et binaire/hexadécimal).
                            Réalisation de différents sites web en utilisant WordPress.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4 class="title">Compétences</h4>
                <div class="clearfix">
                    <div class="col-3">
                        <h5 class="subtitle">Dev Web</h5>
                        <ul>
                            <li>&rsaquo; HTML5 & CSS3</li>
                            <li>&rsaquo; Responsive Design</li>
                            <li>&rsaquo; JavaScript & JQuery</li>
                            <li>&rsaquo; Ruby on Rails</li>
                            <li>&rsaquo; Optimisation</li>
                            <li>&rsaquo; PHP</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle">Bases de Données</h5>
                        <ul>
                            <li>&rsaquo; SQL / PLQSL</li>
                            <li>&rsaquo; PostgreSQL</li>
                            <li>&rsaquo; MySQL / MariaDB</li>
                            <li>&rsaquo; MongoDB</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle">Autres</h5>
                        <ul>
                            <li>&rsaquo; SEO</li>
                            <li>&rsaquo; Wordpress</li>
                            <li>&rsaquo; User Experience & Interface</li>
                            <li>&rsaquo; Photoshop</li>
                            <li>&rsaquo; Linux</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="subtitle">Langues</h5>
                        <ul>
                            <strong>Anglais :</strong>
                            <li>&rsaquo; Écrit, lu et parlé</li>
                            <br/>
                            <strong>Français :</strong>
                            <li>&rsaquo; Langue maternelle</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4 class="title">Centres d'Intérêts</h4>
                <div>
                    <span class="techno">Technologies</span>
                    <span class="techno">Innovations Web</span>
                    <span class="techno">Open Source</span>
                    <span class="techno">Culture Asiatique</span>
                    <span class="techno">Lecture</span>
                    <span class="techno">Manga/Novels</span>
                    <span class="techno">Musique</span>
                </div>
            </div>
        </div>
        <div class="align -center">
            <a class="btn -white" href=""><%= fa_icon "download" %>Télécharger</a>
            <a class="btn -white" href=""><%= fa_icon "print" %>Imprimer</a>
        </div>
    </div>
</section>
