<section class="head">
    <h3 class="title -white -icon -center"><%= fa_icon "book" %><span>Portfolio</span></h3>
    <div class="row portfolio-container">
        <header id="portfolio-1">
            <div class="content">
                <h2 class="title">Moeverdose</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <svg id="horizontal" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50">
                    <polygon id="poly-1" points="0,50 50,0 50,50"/>
                    <polygon id="poly-2"  points="0,25 50,50 0,50"/>
                </svg>
                <svg id="vertical" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50">
                    <polygon id="poly-1" points="0,0 50,50 0,50"/>
                    <polygon id="poly-2" points="0,0 25,0 0,50"/>
                </svg>
            </div>
        </header>
        <div class="col-12">
            <nav>
                <div>
                    <h6 class="title -tiny">Sources</h6>
                    <a target="_blank" href="https://github.com/eternialz/moeverdose" class="btn -white"><%= fa_icon "github" %>Github</a><br />
                    <p>Mozilla Public Licence 2.0</p>
                    <div class="badges">
                        <a target="_blank" href="https://www.codefactor.io/repository/github/eternialz/moeverdose"><img src="https://www.codefactor.io/repository/github/eternialz/moeverdose/badge" /></a>
                        <a target="_blank" href="https://travis-ci.org/eternialz/moeverdose"><img src="https://camo.githubusercontent.com/d792e5cdab3e4ce6436252bf939d89fd2a6cc4ac/68747470733a2f2f7472617669732d63692e6f72672f657465726e69616c7a2f6d6f65766572646f73652e7376673f6272616e63683d6d6173746572" alt="CodeFactor" data-canonical-src="https://travis-ci.org/eternialz/moeverdose.svg?branch=master"></a>
                    </div>
                </div>
            </nav>
            <div class="texts">
                <div class="col-6 -sp -wp-right">
                    <h6 class="title -tiny">Technologies</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-6 -sp -wp-left -wp-right">
                    <h6 class="title -tiny">Technologies</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="darker -border-top">
    <div class="row portfolio-container">
        <div class="col-4 -sp">
            <header id="portfolio-2" class="vertical">
                <div class="content">
                    <h2 class="title">Personal Website</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <svg id="horizontal" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50">
                        <polygon id="poly-1" points="0,50 50,0 50,50"/>
                        <polygon id="poly-2"  points="0,25 50,50 0,50"/>
                    </svg>
                    <svg id="vertical" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50">
                        <polygon id="poly-1" points="0,0 50,50 0,50"/>
                        <polygon id="poly-2" points="0,0 25,0 0,50"/>
                    </svg>
                </div>
            </header>
        </div>
        <div class="col-8 -big-gutter">
            <nav>
                <div>
                    <h6 class="title -tiny">Sources</h6>
                    <a class="btn -white"><%= fa_icon "github" %>Github</a><br />
                </div>
            </nav>
            <div class="texts">
                <h6 class="title -tiny">Technologies</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
<section class="-border-top">
    <div class="row portfolio-container">
        <div class="col-8 -big-gutter">
            <div>
                <h6 class="title -tiny">Technologies</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col-4 -sp">
            <header id="portfolio-3" class="vertical">
                <div class="content">
                    <h2 class="title">Bed & Dreams</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <svg id="horizontal" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50">
                        <polygon id="poly-1" points="0,50 50,0 50,50"/>
                        <polygon id="poly-2"  points="0,25 50,50 0,50"/>
                    </svg>
                    <svg id="vertical" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 50 50">
                        <polygon id="poly-1" points="0,0 50,50 0,50"/>
                        <polygon id="poly-2" points="0,0 25,0 0,50"/>
                    </svg>
                </div>
            </header>
        </div>
    </div>
</section>
