<div id="cookie_parent">
    <div class="hide" id="cookies_disclaimer">
        <%= fa_icon "close" %>
        <p>En visitant ce site web, vous acceptez notre politique sur <a>l'utilisation des cookies</a></p>
    </div>
</div>
