<div id="cookie_parent">
    <div id="cookies_disclaimer" class="">
        <p>
            <%= t "cookies.alert_html" %>
        </p>
        <a id="cookies_close">Accepter et fermer</a>
    </div>
</div>
