<div id="cookie_parent">
    <div id="cookies_disclaimer" class="hide">
        <p>
            <%= t "cookies.alert_html" %>
        </p>
        <a id="cookies_close"><%= t "cookies.accept" %></a>
    </div>
</div>
