<div id="cookie_parent">
    <div id="cookies_disclaimer" class="hide">
        <a id="cookies_close" class="btn">Accepter et fermer <%= fa_icon "close" %></a>
        <p>En visitant ce site web, vous acceptez <a>notre politique</a> sur l'utilisation des cookies.</p>
    </div>
</div>
