<div id="cookie_parent">
    <div id="cookies_disclaimer" class="hide">
        <a id="cookies_close" class="btn">Accepter et fermer</a>
        En visitant ce site web, vous acceptez notre politique sur <a>l'utilisation des cookies</a>
    </div>
</div>
