<header class="nav">
    <div class="row">
        <li><a href="/">Accueil</a></li>
        <li><a href="">Curriculum Vitæ</a></li>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Contact</a></li>
    </div>
</header>
