<header class="nav transparent">
    <div class="row">
        <li id="logo">
            <a href="/">
                <h1>Sébastien Erfani</h1>
            </a>
        </li>
        <label id="display-menu" for="menu-toggle"><%= fa_icon "bars" %></label>
        <input type="checkbox" id="menu-toggle" checked>
        <ul>
            <li><a href="/portfolio"><%= fa_icon "caret-right" %>Portfolio</a></li>
            <li><a href="/articles"><%= fa_icon "caret-right" %>Blog</a></li>
            <li><a href="#contact"><%= fa_icon "caret-right" %>Contact</a></li>
        </ul>
    </div>
</header>
