<header class="nav">
    <div class="row">
        <li>
            <a href="/">
                <div class="image -round">
                    <img src="https://pbs.twimg.com/profile_images/640249589593952256/HhZls8Ux_400x400.jpg" width="50" height="50">
                </div>
                <h1>Sébastien Erfani</h1>
            </a>
        </li>
        <li><a href="">Curriculum Vitæ</a></li>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Contact</a></li>
        <li>
            <a href="#" class="tool">
                <%= fa_icon "angle-up" %>
                <span class="tip">Return to Top</span>
            </a>
        </li>
    </div>
</header>
