<div id="splash">
    <div id="background">
        <div class="row">
            <div class="row">
                <div class="col-8">
                    <h1>Sébastien Erfani</h1>
                    <h2>Dev Full-Stack </h2>
                    <br />
                    <p></p>
                    <div id="buttons">
                        <a class="btn -accent2">Portfolio <%= fa_icon "book" %></a>
                        <a class="btn -white -accent2">Github <%= fa_icon "github" %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
