<div id="splash">
    <div id="background">
        <div class="row">
            <div class="col-8 -centered">
                <div class="col-6 align -max-small-center -min-small-right">
                    <div class="splash-image">
                        <div class="image -round">
                            <img src="https://pbs.twimg.com/profile_images/640249589593952256/HhZls8Ux_400x400.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-6 align -small-center">
                    <h2>Bienvenue</h2>
                    <p>Lorem ipsum dolor sit amet</p>

                    <div id="buttons">
                        <a class="btn -accent2">Portfolio <%= fa_icon "book" %></a>
                        <a class="btn -white -accent2">Github <%= fa_icon "github" %></a>
                    </div>

                    <div id="social">
                        <a href="github" class="tool"><%= fa_icon "github" %><span class="tip -top">Github</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
