<!DOCTYPE html>
<html>
    <%= render "layouts/head" %>

    <body>
        <div class="page">
            <%= yield %>
        </div>

        <%= render "layouts/footer" %>

        <%= render "layouts/cookie_disclaimer" %>
    </body>
</html>
